.Bullet {
	margin-left: 25px;
}
.BulletDoubleIndent {
	margin-left: 50px;
}
.P_SingleIndent {
	margin-left: 25px;
}
.P_DoubleIndent {
	margin-left: 50px;
}
.title {
	color: rgb(153, 51, 102); font-size: 160%; font-weight: 600;
}
.addtitle {
	color: rgb(153, 51, 102); font-size: 160%; font-weight: 600;
}
.addtitle1 {
	color: rgb(153, 51, 102); font-size: 160%; font-weight: 600;
}
.MsoTitle {
	color: rgb(153, 51, 102); font-size: 160%; font-weight: 600;
}
.TitleChar {
	color: rgb(153, 51, 102); font-size: 160%; font-weight: 600;
}
.heading1 {
	color: rgb(153, 51, 102); font-family: Verdana; font-size: 160%; font-weight: 700;
}
.heading2 {
	color: rgb(153, 51, 102); font-family: Verdana; font-size: 145%; font-weight: 700;
}
.heading3 {
	font-family: Verdana; font-size: 135%; font-weight: 700;
}
.heading4 {
	font-family: Verdana; font-size: 125%; font-weight: 700;
}
.Heading4Char {
	font-family: Verdana; font-size: 125%; font-weight: 700;
}
.heading4Indent {
	font-family: Verdana; font-size: 125%; font-weight: 700; margin-left: 25px;
}
body {
	color: black; line-height: 1.4em; letter-spacing: 0.2px; font-family: Arial; font-size: 76%; margin-right: 50px; margin-left: 50px;
}
td {
	color: black; line-height: 1.4em; letter-spacing: 0.2px; font-family: Arial; font-size: 76%; margin-right: 50px; margin-left: 50px;
}
p {
	color: black; font-family: Arial; font-size: 1em;
}
li {
	color: black; font-family: Arial; font-size: 1em;
}
.regulartext {
	color: black; font-family: Arial; font-size: 1em;
}
.regulartextbold {
	color: black; font-family: Arial; font-size: 1em; font-weight: 700;
}
.regulartextChar {
	color: black; font-family: Arial; font-size: 1em;
}
table td {
	padding: 5px;
}
table {
	margin-top: 5px; margin-bottom: 5px;
}
