body {
	background: rgb(243, 244, 241); margin: 0px auto; width: 1000px; font-family: Verdana, Arial, Helvetica, sans-serif;
}
img {
	border: 0px currentColor;
}
a:link {
	color: rgb(0, 51, 153); text-decoration: none;
}
a:visited {
	color: rgb(0, 51, 153); text-decoration: none;
}
a:hover {
	color: rgb(0, 51, 153); text-decoration: none;
}
a:active {
	color: rgb(0, 51, 153); text-decoration: none;
}
th {
	font-size: 11px;
}
td {
	font-size: 11px;
}
th {
	font-size: 10px; margin-right: -1px; background-color: rgb(204, 204, 204);
}
td {
	margin-right: -1px;
}
th.with-border {
	border: 1px solid rgb(204, 204, 204);
}
td.with-border {
	border: 1px solid rgb(204, 204, 204);
}
#distForm td {
	border: 0px currentColor;
}
#container {
	background: rgb(255, 255, 255); margin: 20px; width: 920px; padding-right: 20px; padding-bottom: 70px; padding-left: 20px;
}
#header {
	width: 918px; height: 77px; font-weight: bold;
}
#header_nav {
	width: 918px; clear: both; position: relative;
}
.text_large_white {
	left: 20px; top: 90px; color: rgb(255, 255, 255); font-size: 38px; position: absolute; z-index: 100;
}
#content {
	padding-top: 12px;
}
#box_navs {
	width: 210px; color: rgb(51, 51, 51); float: left;
}
#box_navs_top {
	background: url("../../images/box_nav_top.gif") no-repeat; width: 210px; height: 23px; color: rgb(255, 255, 255); padding-top: 5px; font-size: 15px; font-weight: bold;
}
#box_navs_content {
	background: url("../../images/box_bkgd.gif") repeat-y; padding: 10px 5px 10px 10px; width: 200px; color: rgb(82, 82, 82); font-size: 10pt; min-height: 237px;
}
#box_navs_bottom {
	background: url("../../images/box_nav_bottom.gif") no-repeat; width: 210px; height: 20px; font-size: 20px;
}
#box_navs ul {
	list-style: none; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-bottom: 0px;
}
#box_navs li {
	padding-bottom: 1px; font-size: 13px; font-weight: bold;
}
#box_navs a:hover {
	color: rgb(0, 51, 204); text-decoration: none;
}
#box_navs a:active {
	color: rgb(0, 51, 204); text-decoration: none;
}
#box_center {
	width: 694px; color: rgb(51, 51, 51); font-family: Verdana, Arial, Helvetica, sans-serif; margin-right: 0px; margin-left: 16px; float: left;
}
#box_center_top a:link {
	color: rgb(104, 151, 186); text-decoration: none;
}
#box_center_top a:visited {
	color: rgb(104, 151, 186); text-decoration: none;
}
#box_center_top a:hover {
	color: rgb(137, 137, 136); text-decoration: none;
}
#box_center_top a:active {
	color: rgb(137, 137, 136); text-decoration: none;
}
.box_orange {
	width: 210px; color: rgb(51, 51, 51); clear: right; font-family: Verdana, Arial, Helvetica, sans-serif; margin-bottom: 19px; float: right;
}
.box_blue {
	width: 210px; color: rgb(51, 51, 51); clear: right; font-family: Verdana, Arial, Helvetica, sans-serif; margin-bottom: 19px; float: right;
}
.box_red {
	width: 210px; color: rgb(51, 51, 51); clear: right; font-family: Verdana, Arial, Helvetica, sans-serif; margin-bottom: 19px; float: right;
}
.box_purple {
	width: 210px; color: rgb(51, 51, 51); clear: right; font-family: Verdana, Arial, Helvetica, sans-serif; margin-bottom: 19px; float: right;
}
.box_orange_top {
	height: 23px; text-align: center; color: rgb(255, 255, 255); padding-top: 5px; font-size: 13px; font-weight: bold;
}
.box_blue_top {
	height: 23px; text-align: center; color: rgb(255, 255, 255); padding-top: 5px; font-size: 13px; font-weight: bold;
}
.box_red_top {
	height: 23px; text-align: center; color: rgb(255, 255, 255); padding-top: 5px; font-size: 13px; font-weight: bold;
}
.box_purple_top {
	height: 23px; text-align: center; color: rgb(255, 255, 255); padding-top: 5px; font-size: 13px; font-weight: bold;
}
.box_orange_content {
	background: url("../../images/box_content_bkgd.gif") repeat-y; padding: 7px 15px; font-size: 11px;
}
.box_blue_content {
	background: url("../../images/box_content_bkgd.gif") repeat-y; padding: 7px 15px; font-size: 11px;
}
.box_red_content {
	background: url("../../images/box_content_bkgd.gif") repeat-y; padding: 7px 15px; font-size: 11px;
}
.box_purple_content {
	background: url("../../images/box_content_bkgd.gif") repeat-y; padding: 7px 15px; font-size: 11px;
}
.box_orange_content p {
	padding-top: 0px; padding-left: 0px; margin-top: 0px; margin-bottom: 5px; margin-left: 7px;
}
.box_blue_content p {
	padding-top: 0px; padding-left: 0px; margin-top: 0px; margin-bottom: 5px; margin-left: 7px;
}
.box_red_content p {
	padding-top: 0px; padding-left: 0px; margin-top: 0px; margin-bottom: 5px; margin-left: 7px;
}
.box_purple_content p {
	padding-top: 0px; padding-left: 0px; margin-top: 0px; margin-bottom: 5px; margin-left: 7px;
}
.box_orange_content ul {
	padding-top: 0px; padding-left: 0px; margin-top: 0px; margin-bottom: 0px; margin-left: 7px;
}
.box_blue_content ul {
	padding-top: 0px; padding-left: 0px; margin-top: 0px; margin-bottom: 0px; margin-left: 7px;
}
.box_red_content ul {
	padding-top: 0px; padding-left: 0px; margin-top: 0px; margin-bottom: 0px; margin-left: 7px;
}
.box_purple_content ul {
	padding-top: 0px; padding-left: 0px; margin-top: 0px; margin-bottom: 0px; margin-left: 7px;
}
.box_orange_content li {
	padding-left: 0px; font-size: 11px; margin-top: 5px; margin-left: 7px;
}
.box_blue_content li {
	padding-left: 0px; font-size: 11px; margin-top: 5px; margin-left: 7px;
}
.box_red_content li {
	padding-left: 0px; font-size: 11px; margin-top: 5px; margin-left: 7px;
}
.box_purple_content li {
	padding-left: 0px; font-size: 11px; margin-top: 5px; margin-left: 7px;
}
.box_orange_bottom {
	background: url("../../images/box_bottom_gradient.gif") no-repeat; height: 17px; clear: left;
}
.box_blue_bottom {
	background: url("../../images/box_bottom_gradient.gif") no-repeat; height: 17px; clear: left;
}
.box_red_bottom {
	background: url("../../images/box_bottom_gradient.gif") no-repeat; height: 17px; clear: left;
}
.box_purple_bottom {
	background: url("../../images/box_bottom_gradient.gif") no-repeat; height: 17px; clear: left;
}
.box_orange_top {
	background: url("../../images/box_top_orange.gif") no-repeat;
}
.box_blue_top {
	background: url("../../images/box_top_blue.gif") no-repeat;
}
.box_red_top {
	background: url("../../images/box_top_red.gif") no-repeat;
}
.box_purple_top {
	background: url("../../images/box_top_purple.gif") no-repeat;
}
.box_purple_content td {
	border-width: medium medium 1px; border-style: none none dotted; border-color: currentColor currentColor rgb(204, 204, 204); padding-top: 5px; padding-bottom: 5px; font-size: 10px;
}
.box_purple_content td a:hover {
	text-decoration: underline;
}
#footer {
	color: rgb(102, 102, 102); padding-top: 70px; padding-bottom: 10px; clear: both; font-size: 12px;
}
.search_head {
	margin: 0px; text-align: right; padding-bottom: 8px; font-size: 8pt;
}
.box_center_padding #archives td {
	font-size: 11px; font-weight: bold;
}
.search {
	padding-top: 10px;
}
.treeview li a:link {
	color: rgb(102, 102, 102); text-decoration: none;
}
.treeview li a:visited {
	color: rgb(102, 102, 102); text-decoration: none;
}
.treeview li a:hover {
	color: rgb(102, 102, 102); text-decoration: none;
}
.treeview li a:active {
	color: rgb(102, 102, 102); text-decoration: none;
}
a.tab-last-anchor {
	background: url("../../images/buttons/service_button_over.gif") no-repeat; width: 92px; height: 30px; text-align: center; color: rgb(255, 255, 255); padding-top: 3px; font-size: 12px; vertical-align: middle; display: block; position: absolute;
}
a.tab-last-anchor:hover {
	background: url("../../images/buttons/service_button.gif") no-repeat;
}
#addthis {
	margin-top: 3px; margin-right: 73px; float: left;
}
.icon_video {
	color: rgb(51, 51, 51); padding-left: 27px; font-size: 10px; margin-bottom: 20px;
}
.icon_event {
	color: rgb(51, 51, 51); padding-left: 27px; font-size: 10px; margin-bottom: 20px;
}
.icon_news {
	color: rgb(51, 51, 51); padding-left: 27px; font-size: 10px; margin-bottom: 20px;
}
.icon_calendar {
	color: rgb(51, 51, 51); padding-left: 27px; font-size: 10px; margin-bottom: 20px;
}
.icon_video span.itemTitle {
	font-weight: bold;
}
.icon_event span.itemTitle {
	font-weight: bold;
}
.icon_news span.itemTitle {
	font-weight: bold;
}
.icon_calendar span.itemTitle {
	font-weight: bold;
}
.icon_video a.itemLink {
	color: rgb(82, 153, 157);
}
.icon_event a.itemLink {
	color: rgb(82, 153, 157);
}
.icon_news a.itemLink {
	color: rgb(82, 153, 157);
}
.icon_calendar a.itemLink {
	color: rgb(82, 153, 157);
}
.icon_event {
	background: url("../../images/icons/icon_event.gif") no-repeat;
}
.icon_news {
	background: url("../../images/icons/icon_news.gif") no-repeat;
}
.icon_calendar {
	background: url("../../images/icons/icon_calendar.gif") no-repeat;
}
.icon_video {
	background: url("../../images/icons/icon_video.gif") no-repeat;
}
.icon_video img {
	width: 136px; margin-bottom: 5px; display: block;
}
