h3 {
	margin: 0px; color: rgb(0, 146, 160); padding-top: 5px; padding-bottom: 5px; font-size: 12px;
}
#box_center {
	background: url("../../images/box_center_top_interior.gif") no-repeat left top rgb(243, 244, 241);
}
#box_center_top {
	width: 470px; color: rgb(104, 151, 186); padding-top: 12px; padding-left: 18px; font-size: 10px; float: left;
}
#box_center_content {
	line-height: 145%; font-size: 12px;
}
#box_center_content h1 {
	font-size: 15px;
}
#box_center_bottom {
	background: url("../../images/box_center_bottom_interior.gif") no-repeat; height: 9px; clear: both;
}
#box_center h1 {
	font-size: 18px; font-weight: normal;
}
#box_center h2 {
	color: rgb(54, 43, 152); font-size: 13px; margin-bottom: 5px;
}
.spacer_gray {
	background: url("../../images/bkgd_spacer.gif") repeat-x; height: 1px; font-size: 1px;
}
.press_archives {
	background: url("../../images/bkgd_spacer_archives.gif") repeat-y;
}
.press_archives a:link {
	color: rgb(61, 100, 216); text-decoration: underline;
}
.press_archives a:visited {
	color: rgb(61, 100, 216); text-decoration: underline;
}
.press_archives a:hover {
	color: rgb(61, 100, 216); text-decoration: underline;
}
.press_archives a:active {
	color: rgb(61, 100, 216); text-decoration: underline;
}
.press_entry {
	clear: left; margin-bottom: 10px;
}
.press_date {
	float: left;
}
.press_headline {
	padding-left: 90px;
}
.box_center_padding {
	width: 470px; padding-top: 15px; padding-bottom: 20px; padding-left: 18px; float: left;
}
.box_center_padding_search {
	width: 470px; padding-top: 15px; padding-bottom: 20px; padding-left: 18px; float: left;
}
.box_center_padding #tree li {
	list-style-type: none; list-style-image: none; background-image: none; background-repeat: no-repeat;
}
#container #content #box_center #box_center_content .box_center_padding ul {
	margin: 0px 0px 10px; padding: 0px 0px 0px 30px;
}
#container #content #box_center #box_center_content .box_center_padding p {
	margin: 0px; padding: 0px;
}
#container #content #box_center #box_center_content .box_center_padding ul li {
	background-position: 0px 3px; padding-left: 15px; list-style-type: none; background-image: url("../../images/bullet4.gif"); background-repeat: no-repeat;
}
.newsrelease {
	padding-top: 15px;
}
#container #content #box_center #box_center_content .box_center_padding .newsrelease p {
	padding-bottom: 8px;
}
#container #content #box_center #box_center_content .box_center_padding p {
	padding-bottom: 8px;
}
#box_center_content_box {
	width: 479px; position: relative;
}
#box_center_content_box_top {
	background: url("../../images/box_center_content_top.gif") no-repeat right bottom; height: 28px;
}
.tab1 {
	background: url("../../images/navs/btn_center_tabs1.gif") no-repeat left top; left: 0px; top: 0px; width: 96px; height: 23px; padding-top: 5px; font-size: 10px; font-weight: bold; float: left; position: absolute;
}
.tab2 {
	background: url("../../images/navs/btn_center_tabs1.gif") no-repeat left top; left: 0px; top: 0px; width: 96px; height: 23px; padding-top: 5px; font-size: 10px; font-weight: bold; float: left; position: absolute;
}
.tab3 {
	background: url("../../images/navs/btn_center_tabs1.gif") no-repeat left top; left: 0px; top: 0px; width: 96px; height: 23px; padding-top: 5px; font-size: 10px; font-weight: bold; float: left; position: absolute;
}
.tab4 {
	background: url("../../images/navs/btn_center_tabs1.gif") no-repeat left top; left: 0px; top: 0px; width: 96px; height: 23px; padding-top: 5px; font-size: 10px; font-weight: bold; float: left; position: absolute;
}
.tab5 {
	background: url("../../images/navs/btn_center_tabs1.gif") no-repeat left top; left: 0px; top: 0px; width: 96px; height: 23px; padding-top: 5px; font-size: 10px; font-weight: bold; float: left; position: absolute;
}
.tab1_up {
	background: url("../../images/navs_over/btn_center_tabs1.gif") no-repeat left top; left: 0px; top: 0px; width: 96px; height: 23px; color: rgb(255, 255, 255); padding-top: 5px; font-size: 10px; font-weight: bold; float: left; position: absolute;
}
.tab2_up {
	background: url("../../images/navs_over/btn_center_tabs1.gif") no-repeat left top; left: 0px; top: 0px; width: 96px; height: 23px; color: rgb(255, 255, 255); padding-top: 5px; font-size: 10px; font-weight: bold; float: left; position: absolute;
}
.tab3_up {
	background: url("../../images/navs_over/btn_center_tabs1.gif") no-repeat left top; left: 0px; top: 0px; width: 96px; height: 23px; color: rgb(255, 255, 255); padding-top: 5px; font-size: 10px; font-weight: bold; float: left; position: absolute;
}
.tab4_up {
	background: url("../../images/navs_over/btn_center_tabs1.gif") no-repeat left top; left: 0px; top: 0px; width: 96px; height: 23px; color: rgb(255, 255, 255); padding-top: 5px; font-size: 10px; font-weight: bold; float: left; position: absolute;
}
.tab5_up {
	background: url("../../images/navs_over/btn_center_tabs1.gif") no-repeat left top; left: 0px; top: 0px; width: 96px; height: 23px; color: rgb(255, 255, 255); padding-top: 5px; font-size: 10px; font-weight: bold; float: left; position: absolute;
}
.tab1_up a:link {
	color: rgb(255, 255, 255); text-decoration: none;
}
.tab1_up a:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
.tab1_up a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.tab1_up a:active {
	color: rgb(255, 255, 255); text-decoration: none;
}
.tab2_up a:link {
	color: rgb(255, 255, 255); text-decoration: none;
}
.tab2_up a:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
.tab2_up a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.tab2_up a:active {
	color: rgb(255, 255, 255); text-decoration: none;
}
.tab3_up a:link {
	color: rgb(255, 255, 255); text-decoration: none;
}
.tab3_up a:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
.tab3_up a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.tab3_up a:active {
	color: rgb(255, 255, 255); text-decoration: none;
}
.tab4_up a:link {
	color: rgb(255, 255, 255); text-decoration: none;
}
.tab4_up a:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
.tab4_up a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.tab4_up a:active {
	color: rgb(255, 255, 255); text-decoration: none;
}
.tab5_up a:link {
	color: rgb(255, 255, 255); text-decoration: none;
}
.tab5_up a:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
.tab5_up a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.tab5_up a:active {
	color: rgb(255, 255, 255); text-decoration: none;
}
.tab2 {
	left: 96px;
}
.tab2_up {
	left: 96px;
}
.tab3 {
	left: 192px;
}
.tab3_up {
	left: 192px;
}
.tab4 {
	left: 288px;
}
.tab4_up {
	left: 288px;
}
.tab5 {
	left: 384px;
}
.tab5_up {
	left: 384px;
}
#tab1 {
	font-size: 10px;
}
#tab2 {
	font-size: 10px;
}
#tab3 {
	font-size: 10px;
}
#tab4 {
	font-size: 10px;
}
#tab5 {
	font-size: 10px;
}
#box_center_content_box_content {
	background: url("../../images/box_center_content_bkgd.gif") repeat-y; padding: 12px 16px;
}
#box_center_content_box_bottom {
	background: url("../../images/box_center_content_bottom.gif") no-repeat right bottom; height: 8px;
}
.first_paragraph {
	margin-top: 0px;
}
.last_paragraph {
	margin-bottom: 0px;
}
div.right_column {
	width: 180px; margin-top: -26px; float: right;
}
.box_orange {
	width: 180px; color: rgb(51, 51, 51); clear: none; font-family: Verdana, Arial, Helvetica, sans-serif; margin-bottom: 19px; float: none;
}
.box_blue {
	width: 180px; color: rgb(51, 51, 51); clear: none; font-family: Verdana, Arial, Helvetica, sans-serif; margin-bottom: 19px; float: none;
}
.box_red {
	width: 180px; color: rgb(51, 51, 51); clear: none; font-family: Verdana, Arial, Helvetica, sans-serif; margin-bottom: 19px; float: none;
}
.box_purple {
	width: 180px; color: rgb(51, 51, 51); clear: none; font-family: Verdana, Arial, Helvetica, sans-serif; margin-bottom: 19px; float: none;
}
#sections {
	margin: 0px; height: 90px; padding-top: 5px; padding-bottom: 10px; border-bottom-color: rgb(102, 102, 102); border-bottom-width: thin; border-bottom-style: solid;
}
#sections-search {
	margin: 0px; padding-top: 5px; padding-bottom: 5px; border-bottom-color: rgb(102, 102, 102); border-bottom-width: thin; border-bottom-style: solid;
}
.sections {
	margin: 0px; height: 90px; padding-top: 5px; padding-bottom: 10px; border-bottom-color: rgb(102, 102, 102); border-bottom-width: thin; border-bottom-style: solid;
}
#sections .sectionheads {
	margin: 0px 0px 5px; padding: 0px; color: rgb(51, 51, 51); font-weight: bold;
}
#sections #linklists {
	margin: 0px 0px 0px 134px; padding: 0px;
}
#sections p {
	margin: 0px; padding: 0px 6px 0px 0px; line-height: 18px; font-size: 11px;
}
.sections p {
	margin: 0px; padding: 0px 6px 0px 0px; line-height: 18px; font-size: 11px;
}
.sections .sectionheads {
	margin: 0px 0px 5px; padding: 0px; color: rgb(53, 43, 152); font-weight: bold;
}
.firstsection {
	padding-top: 5px; padding-bottom: 5px; border-top-color: rgb(102, 102, 102); border-bottom-color: rgb(102, 102, 102); border-top-width: thin; border-bottom-width: thin; border-top-style: solid; border-bottom-style: solid;
}
.news_highlights {
	padding-top: 10px; padding-bottom: 10px; border-top-color: rgb(102, 102, 102); border-top-width: thin; border-top-style: solid;
}
#category .sectionheads {
	margin: 0px 0px 5px; padding: 0px; color: rgb(51, 51, 51); font-weight: bold;
}
#category {
	margin: 0px; height: 115px; padding-top: 5px; padding-bottom: 15px; border-bottom-color: rgb(0, 51, 102); border-bottom-width: thin; border-bottom-style: dotted;
}
.category {
	margin: 10px 0px 5px; padding-top: 5px; padding-bottom: 15px; border-bottom-color: rgb(0, 51, 102); border-bottom-width: thin; border-bottom-style: dotted;
}
.category .sectionheads {
	margin: 0px 0px 5px; padding: 0px; color: rgb(53, 43, 152); font-weight: bold;
}
.firstcategory {
	padding-top: 5px; padding-bottom: 15px; margin-top: 10px; border-top-color: rgb(0, 51, 102); border-bottom-color: rgb(0, 51, 102); border-top-width: thin; border-bottom-width: thin; border-top-style: dotted; border-bottom-style: dotted;
}
.firstline {
	margin: 10px 0px 0px; padding: 6px 0px 0px; border-top-color: rgb(102, 102, 102); border-top-width: thin; border-top-style: dashed;
}
#lines {
	margin: 0px; padding: 0px; border-bottom-color: rgb(0, 51, 153); border-bottom-width: thin; border-bottom-style: dashed;
}
.linelinks {
	margin: 0px; padding: 0px;
}
p.linelinks {
	margin: 0px; padding: 0px;
}
#container #content #box_center #box_center_content .box_center_padding p.ImageAndCaption_left {
	text-align: center; line-height: 110%; font-size: 10px; font-style: italic;
}
#container #content #box_center #box_center_content .box_center_padding p.ImageAndCaption_right {
	text-align: center; line-height: 110%; font-size: 10px; font-style: italic;
}
#container #content #box_center #box_center_content .box_center_padding p.ImageAndCaption_left img {
	margin-bottom: 3px; display: block;
}
#container #content #box_center #box_center_content .box_center_padding p.ImageAndCaption_right img {
	margin-bottom: 3px; display: block;
}
#container #content #box_center #box_center_content .box_center_padding p.ImageAndCaption_left {
	margin: 0px 10px 10px 0px; clear: left; float: left;
}
#container #content #box_center #box_center_content .box_center_padding p.ImageAndCaption_right {
	margin: 0px 0px 10px 10px; clear: right; float: right;
}
.img_left {
	padding-top: 0px; padding-right: 8px; padding-bottom: 4px; float: left;
}
.img_right {
	padding-top: 4px; padding-bottom: 4px; padding-left: 8px; float: right;
}
#container #content #box_center #box_center_content .box_center_padding table tr td p.verticaltext {
	-ms-writing-mode: tb-rl;
}
.searchheads {
	margin: 0px; color: rgb(0, 51, 153); padding-top: 10px; font-weight: bold;
}
.searchbody {
	margin: 0px; padding: 0px; font-size: 100%;
}
.search a:link {
	margin: 0px; padding: 0px; color: rgb(41, 157, 159); font-size: 100%;
}
a:visited {
	margin: 0px; padding: 0px; color: rgb(41, 157, 159); font-size: 100%;
}
a:hover {
	margin: 0px; padding: 0px; color: rgb(41, 157, 159); font-size: 100%;
}
a:active {
	margin: 0px; padding: 0px; color: rgb(41, 157, 159); font-size: 100%;
}
.news_highlights table tr td {
	font-size: 10px; font-weight: bold;
}
.newslinks {
	padding-left: 20px; border-left-color: rgb(51, 51, 51); border-left-width: thin; border-left-style: solid;
}
.instrument-section .sectionheads {
	margin: 0px; padding: 0px; color: rgb(0, 51, 102); line-height: 145%; font-size: 11px; font-weight: bold;
}
#instruments p {
	margin: 0px; padding: 0px 6px 0px 0px; line-height: 18px; font-size: 11px;
}
.firstsection .linklists {
	margin: 0px 0px 0px 134px; padding: 0px;
}
#container #content #box_center #box_center_content .box_center_padding .instrumentsection .instrumentheads {
	margin: 0px; padding: 3px 0px; color: rgb(51, 51, 51); font-weight: bold;
}
#instruments p {
	margin: 0px; padding: 0px;
}
.instrumentsection {
	padding-bottom: 5px; clear: both; border-top-color: rgb(102, 102, 102); border-top-width: thin; border-top-style: solid;
}
.instrumentsection img {
	padding-top: 5px; margin-bottom: 10px;
}
.instrumentbody {
	font-size: 11px;
}
.instrumentsection .linklists {
	margin: 0px 0px 0px 134px; padding: 0px;
}
.sectionheads a {
	color: rgb(0, 153, 153); font-weight: bold;
}
